.overall{
	background-image: url(background.jpg);
	background-size: 100% 100%;
	width: 100%;
	
}

.fp{
    /* margin-left: 50%; */
    padding: 0px;
    margin-top: -2%;
    /* margin-right: 20%; */
    background-color: #ffffff;
    padding-right: 0;
    padding-left: 0%;
    border-radius: 5%;
    width: 40%;
    position: absolute;
    right: 5%;
    top: 114px;
    z-index: 1;


}

.text
{
    font-size: x-large;
    color: salmon;
    text-align: -webkit-center;
    margin-top: 25px;
}

.email {
    font-size: 20px;
    color: #7d7b74;
    margin-top: 14px;
    text-align: -webkit-center;
}

#email_id {
    margin-left: 85px;
    margin-top: 45px;
    border: 0!important;
    border-radius: 0!important;
    border-bottom: 1px solid #C4C4C4!important;
    /*padding: 0% 18% 0% 13%;*/
    font-size: larger;
    margin-right: 76px;
    text-align: -webkit-center;
	padding: 0% 6% 0% 22%;
    
}

#email_id:focus{
    /*border: 1px solid #505050!important;*/
    box-shadow: none!important;
    outline: 0!important
}

.button
{   margin-top: 20px;
    margin: 7% 22% 5% 28%;
    padding: 1% 20% 1% 20%;
    border-radius: 2%;
    background: #4a78dfd6;
    cursor: pointer;
}

p{
        text-align: center
}

